.Rproj.user
.Rhistory
.RData
mra.rproj
Spatialtm/
archive/
HSL.library
testingversion
mra.rcheck
src-i386
src-x64
*.tar.gz
*.mod
*.o
*.dll
man/F.AC.estim.Rd
man/F.move.2.habitat.Rd
man/F.parm.estim.Rd
man/F.spat.capProbs.Rd
man/F.spat.loglik.X.Rd
man/F.spat.robust.loglik.X.Rd
man/F.spatial.pstar.Rd
man/F.X.loglik.Rd
man/F.fixup.traps.Rd